<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat manager</title>
</head>
<body>
<H2>Chat manager</H2>
<br>
<br>
<form th:action="@{/home/chat}" method="post" th:object="${newChat}">
    <div><input type="text" placeholder="Chat name" th:field="*{name}"></div>
    <div><select th:field="*{userId}">
        <option th:each="user : ${userList}" th:value="${user.getId()}" th:text="${user.getFirstName()}"></option>
    </select> </div>
    <button type="submit">Create Chat</button>
</form>

</body>
</html>